body {
  padding-top: 63px
}

.thumbnail img {
  width: 100%;
}

.thumbnail {
  padding: 0;
}

.thumbnail .caption-full {
  padding: 9px;
  color: #333;
}

footer {
  position:fixed;
  height:50px;
  bottom:0px;
  margin-bottom:0px;
}

.navbar-nav > li > a {
    margin-left: -15px;
    padding-top:7px !important;
    padding-bottom:2px !important;
}

.navbar {
    min-height:40px !important;
    background-color: #fafafa;
}

footer {
    background-color: #fafafa !important;
    height: 61px;
    background-color: black;
    left: 0;
    right: 0;
    width: 100%;
    text-align:center;
}

.icon-bar {
    background-color: rgb(247, 147, 30) !important;
}

.navbar-toggle {
    border-color: rgb(247, 147, 30) !important;
}

a, a:hover, a:focus {
color: rgb(247, 147, 30);
}

a:hover, a:focus {
text-decoration: underline;
}

img.product-thumb {
    width: 64px;
    height: 64px;
}

.btn-primary {
    background-color: rgb(247, 147, 30);
}

a.black-link {
  color: black !important;
}


/* This is by Jonathan Sampson on stackoverflow
   Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   speak for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('../img/busy.gif') 
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}