body {
  padding-top: 90px
}

.thumbnail img {
  width: 100%;
}

.thumbnail {
  padding: 0;
}

.thumbnail .caption-full {
  padding: 9px;
  color: #333;
}

footer {
  margin: 50px 0;
}

.navbar-nav > li > a {
    margin-left: -15px;
    padding-top:7px !important;
    padding-bottom:2px !important;
}

.navbar {
    min-height:40px !important;
}