{% extends "base.html" %}
{% block body %}

<div class="container" id="account_details">

  <div class="row">

    <h2 class="text-center">
      Account Details
      <a href="{{url_for('home_page')}}" role="button"
         class="btn btn-default pull-right">
        Back to Search
      </a>
    </h2>

    <hr>

    <div class="col-xs-8">
      <h3>Items Tracked</h3>
      <form role="form" action="/delete">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>
                Image
              </th>
              <th>
                Description
              </th>
              <th>
                Prime
              </th>
              <th>
                Price
              </th>
            </tr>
          </thead>
          <tbody>
            {% for result in results %}
            <tr id="{{result.link}}" onclick="toggleRowSelect('{{result.link}}');">
              <td>
                <a class="black-link" href="{{result.link}}">
                  <img class="img product-thumb"
                       src="{{ result['image'] }}" alt="Product Image" />
                </a>
              </td>
              <td>
                <a class="black-link" href="{{result.link}}">{{ result['title'] }}</a>
              </td>
              <td>
                <a class="black-link" href="{{result.link}}">{{ result['prime_price'] }}</a>
              </td>
              <td>
                <a class="black-link" href="{{result.link}}">{{ result['new_price'] }}</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <button type="submit" id="delete_button"
                class="btn btn-primary pull-right">
          Stop Tracking Selected Items
        </button>
      </form>
    </div>

    <div class="col-xs-4">
      <h3>Profile</h3>
      <div class="thumbnail" style="padding: 10px;">
        <p><b>Username:</b></p>
        <p>{{ user['username'] }}</p>
        <br>
        <p><b>email:</b></p>
        <p>{{ user['email'] }}</p>
      </div>
    </div>

  </div>

</div>
<!-- /.container -->


{% endblock %}
