{% extends "base.html" %}
{% block body %}

<div class="container" id="account_details">

  <div class="row">

    <h2 class="text-center">
      Account Details
      <a href="{{url_for('home_page')}}" role="button"
         class="btn btn-default pull-right">
        Back to Search
      </a>
    </h2>

    <hr>

    <div class="col-xs-8">
      <h3>Items Tracked</h3>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>
              Item URL
            </th>
            <th>
              Desired Price
            </th>
            <th>
              Last Price
            </th>
          </tr>
        </thead>
        <tbody>
          {% for item in items %}
          <tr id="{{ item[0] }}" onclick="toggleRowSelectAccounts('{{ item[0] }}');">
            <td>
              <a class="black-link" href="{{ item[0] }}" target="_blank">{{ item[0] }}</a>
            </td>
            <td>
              {{ item[1] }}
            </td>
            <td>
              {{ item[2] }}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <form action="{{ url_for('crawl_on_demand') }}" method="POST">
          <button type="submit" id="crawl_now"
                  class="btn btn-primary pull-left">
            Check Now
          </button>
      </form>
      <button type="submit" id="delete_button" onclick="deleteItems()"
              class="btn btn-primary pull-right">
        Stop Tracking Selected Items
      </button>
    </div>

    <div class="col-xs-4">
      <h3>Profile</h3>
      <div class="thumbnail" style="padding: 10px;">
        <p><b>Username:</b></p>
        <p>{% filter upper %} {{ user['username'] }} {% endfilter %}</p>
        <br>
        <p><b>email:</b></p>
        <p>{{ user['email'] }}</p>
      </div>
    </div>

  </div>

</div>
<!-- /.container -->


{% endblock %}
