<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>lowr</title>

  <!-- Bootstrap core CSS -->
  <link href="../static/css/bootstrap.css" rel="stylesheet">

  <!-- Add custom CSS here -->
  <link href="../static/css/styles.css" rel="stylesheet">

  <link href="../static/css/font-awesome.min.css" rel="stylesheet" />

</head>

<body>

  <nav class="navbar navbar-fixed-top" role="navigation" id="nav">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav pull-right">
          {% if not session.logged_in %}
          <li class=""><a href="{{url_for('login')}}">Log In</a>
          </li>
          <li><a href="{{url_for('signup')}}">Sign Up</a>
          </li>
          {% else %}
          <li class=""><a href="{{url_for('logout')}}">Log Out</a>
          </li>
          {% endif %}
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
  </nav>
  {% block body %}
  
  {% endblock %}





  <div id="footer" >
    <div class="container">
     <p class="text-muted pull-left">Copyright &copy; lowrd_gangstazz 2014 - Template by  <a href="http://maxoffsky.com/">Maks</a></p>
    </div>
  </div>






  <!-- /.container -->

  <!-- JavaScript -->
  <script src="../static/js/jquery-1.11.1.min.js"></script>
  <script src="../static/js/bootstrap.js"></script>
  <script src="../static/js/scripts.js"></script>

</body>

</html>
