<div class="container" id="search_results">

  <div class="row">

    <hr>

    <div class="col-xs-1">
      <p>&nbsp</p>
    </div>

    <div class="col-xs-10">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>
                Image
              </th>
              <th>
                Description
              </th>
              <th>
                Prime
              </th>
              <th>
                Price
              </th>
            </tr>
          </thead>
          <tbody>
            {% for result in results %}
            <tr id="{{result.link}}" onclick="toggleRowSelect('{{result.link}}');">
              <td>
                <a class="black-link" href="{{result.link}}">
                  <img class="img product-thumb"
                       src="{{ result['image'] }}" alt="Product Image" />
                </a>
              </td>
              <td>
                <a class="black-link" href="{{result.link}}">{{ result['title'] }}</a>
              </td>
              <td>
                <a class="black-link" href="{{result.link}}">{{ result['prime_price'] }}</a>
              </td>
              <td>
                <a class="black-link" href="{{result.link}}">{{ result['new_price'] }}</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>

    <div class="col-xs-1">
      <p>&nbsp</p>
    </div>

  </div>

</div>
<!-- /.container -->
