<div class="container">

  <div class="row">

    <hr>

    <div class="col-xs-1">
      <p>&nbsp</p>
    </div>

    <div class="col-xs-10">
      <form role="form" action="/add">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>
                Image
              </th>
              <th>
                Description
              </th>
              <th>
                Price
              </th>
            </tr>
          </thead>
          <tbody>
            <tr id="product_1" onclick="toggleRowSelect('#product_1');">
              <td>
                <img class="img product-thumb"
                 src="http://placehold.it/96x96&text=Product" alt="Product" />
              </td>
              <td>
                A very cool product that you will like, but is too pricey
              </td>
              <td>
                $999.99
              </td>
            </tr>
            <tr id="product_2" onclick="toggleRowSelect('#product_2');">
              <td>
                <img class="img product-thumb"
                 src="http://placehold.it/96x96&text=Product" alt="Product" />
              </td>
              <td>
                A very cool product that you will like, but is too pricey
              </td>
              <td>
                $999.99
              </td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>

    <div class="col-xs-1">
      <p>&nbsp</p>

  </div>

</div>
<!-- /.container -->
