{% extends "base.html" %}
{% block body %}
<div class="container">

  <div class="row">

    <div class="col-xs-3">
      <p>&nbsp</p>
    </div>

    <div class="col-xs-6">

      <div class="thumbnail" style="padding: 10px;">

      <a href="/" class="thumbnail">
        <img src="../static/img/lowr_logo.png" alt="lowr logo" style="width: 20em">
      </a>
        <h2>Sign Up</h2>
        <form class="form-horizontal" role="form" id="signup_form"
              action="{{url_for('signup')}}" method="POST">
          <div class="form-group">
            <label for="signup_username" class="col-sm-3 control-label">Username</label>
            <div class="col-sm-9">
              <input type="text" name="signup_username" id="signup_username" placeholder="Username" required>
            </div>
          </div>
          <div class="form-group">
            <label for="signup_email" class="col-sm-3 control-label">Email</label>
            <div class="col-sm-9">
              <input type="email" name="signup_email" id="signup_email" placeholder="you@example.com" required>
            </div>
          </div>
          <div class="form-group">
            <label for="signup_password" class="col-sm-3 control-label">Password</label>
            <div class="col-sm-9">
              <input type="password" name="signup_password" id="signup_password" placeholder="*******" required>
            </div>
          </div>
          <div class="form-group">
            <label for="signup_password_confirm" class="col-sm-3 control-label">Confirm Password</label>
            <div class="col-sm-9">
              <input type="password" name='signup_password_confirm' id="signup_password_confirm" placeholder="*******" required>
            </div>
          </div>
          <div class="form-group">
            <label for="signup_submit" class="col-sm-3 control-label"></label>
            <div class="col-sm-offset-3 col-sm-9">
              <button type="submit" id="signup_submit" class="btn btn-default">
                Sign Up
              </button>
                <br>

               <div style="color: #ff3a1a ">{{ error['error'] }}</div>
                
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="col-xs-3">
      <p>&nbsp</p>
    </div>

  </div>

</div>
<!-- /.container -->

<div class="container" id="search_results">
</div>
<!-- /.container -->
{% endblock %}